body {
    position: relative; 
}

* {
    font-family: Helvetica;
}

  .cards {
    padding: 15px 15px;
    margin: 2px;
    text-align: left;
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: rgb(255, 255, 255);
  }

  p.emo {
    color: #000000;
    padding: 15px 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
  }

  p.bb {
    border-bottom: 1px solid #ffffff;
  }

  p.jus {
    text-align: justify;
  }
